@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 208 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 322 73% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 192 100% 79%;
    --muted-foreground: 208 100% 25%;

    --accent: 192 100% 79%;
    --accent-foreground: 208 100% 20%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 208 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 208 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 322 73% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 19% 27%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 208 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
